{% import 'works.njk' as wks %}

{% macro html(works, bio, status)%}
<main data-view="columns">
  <section class="work">
    <ul class="published">
      <li class="category">Short Fiction, Poems</li>
      <div class="sticky"> 
        {% for work in works %}
          {% if work.type == 'published' %}
            {{ wks.published(work) }}
          {% endif %}  
        {% endfor %}
      </div>
      
    </ul>
    <ul>
      <li class="category">Movement, Performance, Teaching</li>
      {% for work in works %}
        {% if work.type == 'movement' %}
            {{ wks.movement(work) }}
        {% endif %}  
      {% endfor %}
    </ul>
    {% if status == "prelaunch" %}
      <ul class="placeholder">
        <li class="category"> </li>
      </ul>
      <ul class="placeholder">
        <li class="category"> </li>
      </ul>
    {% else %}
      <ul>
        <li class="category">Projects</li>
        {% for work in works %}
          {% if work.type == 'project' %}
              {{ wks.project(work) }}
          {% endif %}  
        {% endfor %}
      </ul>
      <ul>
        <li class="category">Writing</li>
        {% for work in works %}
          {% if work.type == 'book' %}
             {{ wks.book(work) }}
          {% endif %}  
        {% endfor %}
      </ul>
    {% endif %}
  </section>


  <section class="info">
    <p>{{ bio | safe }}</p>
  </section>

  <div class="bar">
    <div class="item">
      <div class="link">
        <a href="https://www.instagram.com/bohwang__/" target="_blank">@bohwang__</a>
      </div>
    </div>
    <div class="item">
      <div class="more credits" data-text="The image above ‘Visit to Makon’ was created by <a href='https://sometimes-always.com/' target='_blank'>Sometimes Always</a> for <a href='https://publicrecords.nyc/' target='_blank'>Public Record</a>’s launch of The Nursery. All other images are by artist and friends.">
        <span>credits</span>
      </div>
    </div>
  </div>
</main>

<script type="text/javascript">
  let more = document.querySelector('.more');

  more.addEventListener("click", function (e) {
    let el=e.currentTarget;
    let html=el.querySelector('span');

    if(!el.classList.contains('open')){
        el.classList.add('open');
        html.innerHTML=el.dataset.text;
    }else{
      el.classList.remove('open');
      html.innerText='credits';
    }  
  });
</script>
{% endmacro %}

