{% macro html(works, bio)%}
<main data-view="columns">
  <section class="work">
    <ul>
      <li class="category">Pieces</li>
      {% for work in works %}
          {% if work.type == 'published' %}
            <li>
              {% if work.img %}<img src="/{{ work.img }}">{% endif %}  
              <p>
                <a href="/{{ work.url }}">{{ work.title }}</a>
                <i>{{ work.pub_date }}, {{ work.publisher }}</i>
              </p>
              {# <p>{{ work.preview | safe }}</p> #}
            </li>
          {% endif %}  
      {% endfor %}
    </ul>
    <ul>
      <li class="category">Movement</li>
      {% for work in works %}
        {% if work.type == 'performance' %}
          <li>
            {% if work.img %}<img src="/{{ work.img }}">{% endif %}  
            <p>
              {{ work.title }}
              <i>{{ work.pub_date }}, {{ work.publisher }}</i>
            </p>
          </li>
        {% endif %}  
      {% endfor %}
    </ul>
    <ul>
      <li class="category">Critical</li>
      {% for work in works %}
        {% if work.type == 'critical' %}
          <li class="{{ work.classes }}">
            {% if work.img %}<img src="/{{ work.img }}">{% endif %}  
            <p>
              {{ work.title }}
              <i>{{ work.pub_date }}, {{ work.publisher }}</i>
            </p>
          </li>
        {% endif %}  
      {% endfor %}
    </ul>
    <ul>
      <li class="category">Books</li>
      {% for work in works %}
        {% if work.type == 'books' %}
          <li class="{{ work.classes }}">
            {% if work.img %}<img src="/{{ work.img }}">{% endif %}  
            <p>
              {{ work.title }}
              <i>{{ work.pub_date }}, {{ work.publisher }}</i>
            </p>
          </li>
        {% endif %}  
      {% endfor %}
    </ul>
  </section>


  <section class="info">
    <p>{{ bio | safe }}</p>
  </section>


</main>
{% endmacro %}