{% macro published(work)%}
<li>
  {% if work.url %}<a href="{{ work.url }}" target="_blank">{% endif %}  
    {% if work.img %}<img class="{{ work.imgopt }}" src="/{{ work.img }}">{% endif %}  
    <h3>
      {% if work.label %}<span class="label">{{ work.label }}</span>{% endif %}  
      <span class="highlight">{{ work.title }}<span>, <i>{{ work.publisher }}</i>
    </h3>
    <p>
      {{ work.preview | safe }}
    </p>
  </a>
</li>
{% endmacro %}

{% macro movement(work)%}
<li>
  {% if work.img %}<img class="{{ work.imgopt }}" src="/{{ work.img }}">{% endif %}  
  <h3>
    {% if work.label %}
      <span class="label">{{ work.label}}</span>
    {% endif %}  
    {% if work.url %}
      <a href="{{ work.url }}">{{ work.title }}</a>
    {% else %}  
      {{ work.title }}
    {% endif %}  
  </h3>
  <p>
    {{ work.date }}{% if work.venue and work.date %} | {% endif %}
    {% if work.venue %} {{ work.venue }} {% endif %} 
    {% if work.details %}- {{ work.details | safe}}{% endif %}  
  </p>
</li>
{% endmacro %}


{% macro book(work)%}
<li>
  {% if work.img %}<img class="{{ work.imgopt }}"  src="/{{ work.img }}">{% endif %}  
  <h3>
    <span class="label">{{ work.label if work.label else work.date}}</span>
    {% if work.url %}
      <a href="{{ work.url }}">{{ work.title }}</a>, {{ work.publisher }}
    {% else %}  
      <i>{{ work.title }}</i>, {{ work.publisher }}
    {% endif %}  
  </h3>
  <p>
    {% if work.details %}{{ work.details | safe}}{% endif %}  
  </p>
  {# <p>
    {{ work.date }}, {{ work.venue }}
  </p> #}
</li>
{% endmacro %}

{% macro project(work)%}
<li>
  {% if work.img %}<img class="{{ work.imgopt }}" src="/{{ work.img }}">{% endif %}  
  <h3>
    <span class="label">{{ work.label if work.label else work.date}}</span>
    {% if work.url %}
      <a href="{{ work.url }}">{{ work.title }}</a>, {{ work.publisher }}
    {% else %}  
      <i>{{ work.title }}</i>, {{ work.publisher }}
    {% endif %}  
  </h3>
  <p>
    {% if work.details %}{{ work.details | safe}}{% endif %}  
  </p>
  {# <p>
    {{ work.date }}, {{ work.venue }}
  </p> #}
</li>
{% endmacro %}



