{% import 'media.njk' as media %}

{% macro published(work)%}
<li>
  {% if work.url %}<a href="{{ work.url }}" target="_blank">{% endif %}  
    {% if work.img %}
      {{ media.photo(work.img.src, work.img.alt, work.img.ext if work.img.ext else ".jpg") }}
    {% endif %}  
    <h3>
      {% if work.label %}<span class="label">{{ work.label }}</span>{% endif %}  
      <span class="highlight">{{ work.title }}<span>, <i>{{ work.publisher }}</i>
    </h3>
    <p>
      {{ work.preview | safe }}
    </p>
  </a>
</li>
{% endmacro %}

{% macro movement(work)%}
<li>
  <a href="/works/{{work.title | slug}}">
    {# {% if work.img %}<img  eleventy:widths="200,600" class="{{ work.imgopt }}" src="/assets/images/{{ work.img.src }}" alt="{{ work.img.alt }}">{% endif %}   #}
    <h3>
      {# {% if work.label %}<span class="label">{{ work.label}}</span>{% endif %}   #}
      {{ work.title }}</a>
    </h3>
  </a>
</li>
{% endmacro %}


{% macro book(work)%}
<li>
  {# {% if work.img %}<img  eleventy:widths="200,600" class="{{ work.imgopt }}"  src="/assets/images/{{ work.img.src }}" alt="{{ work.img.alt }}">{% endif %}   #}
  <h3>
    <span class="label">{{ work.label if work.label else work.date}}</span>
    <a href="/works/{{work.title | slug}}"> <i>{{ work.title }}</i>, {{ work.publisher }}</a>
  </h3>
  <p>
    {% if work.details %}{{ work.details | safe}}{% endif %}  
  </p>
</li>
{% endmacro %}

{% macro project(work)%}
<li>
  {# {% if work.img %}<img  eleventy:widths="200,600" class="{{ work.imgopt }}" src="/assets/images/{{ work.img.src }}" alt="{{ work.img.alt }}">{% endif %}   #}
  <h3>
    {% if work.label %}
      <span class="label">{{ work.label}}</span>
    {% endif %}  
    <a href="/works/{{work.title | slug}}">{{ work.title }}</a>, {{ work.publisher }}, {{work.date}}
  </h3>
  <p>
    {% if work.details %}{{ work.details | safe}}{% endif %}  
  </p>
</li>
{% endmacro %}



