---
pagination: 
  data: works
  size: 1
  alias: work
permalink: 'works/{{ pagination.items[0].title | slug }}/index.html'
layout: base.njk
---

<main class="work">
<section class="grid navbar">
  <ul class="published">
    <li class="category">Short Fiction, Poems</li> 
  </ul>
  <ul class="perf-col">
    <li class="category">Movement, Performance, Workshop</li>
  </ul>
  <ul class="proj-col">
    <li class="category">Writing, Projects</li>
  </ul>
  <ul class="writ-col">
    <li class="category"></li>
  </ul>
</section>

{{ content | safe }}


</main>