<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} </title>
    <link rel="stylesheet" href="assets/global.css">
</head>
<body>
  <section>
    <p>
      Bo Hwang writes story-like poems and poem-like stories. They like each other anyway. She was a 2022 Periplus Fellow and is currently the Anselm Hollo Fellow at Naropa University where she is working on a collection of short stories. You can find a sliver of her work below. 
      <a href="https://twitter.com/_bohwang" target="_b">@_bohwang</a>
    </p>
    {{ content }}
  </section>
</body>
</html>