---
layout: work.njk
---

<section class="sidebar">
  <a href="/">← Back</a>


  <div>     
    <h1>{{ work.title }}</h1>

    {% if work.details %}
      <p>{{ work.details | safe}}</p>
    {% endif %}  
  </div>
  <ul class="meta">
    <li>{{ work.date }}</li>
    {% if work.url %}<a href="{{ work.url }}" target="_blank">{% endif %}   
      {% if work.venue %} <li>{{ work.venue }}</li> {% endif %} 
    {% if work.url %}</a>{% endif %}   
    {% if work.label %}<li>{{ work.label }}</li>{% endif %}  
    <li>{{ work.publisher }}</li>
  </ul>
</section>

<section class="work-detail">
{# {% if work.img %}<img eleventy:widths="200,600" class="{{ work.imgopt }}" src="/assets/images/{{ work.img.src }}" alt="{{ work.img.alt }}">{% endif %}   #}
</section>