---
layout: work.njk
---
{% import 'media.njk' as media %}

<section class="sidebar">
  <a href="/">← Back</a>


  <div>     
    <h1>{{ work.title }}</h1>

    {% if work.details %}
      <p>{{ work.details | safe}}</p>
    {% endif %}  
  </div>
  <ul class="meta">
    <li>{{ work.date }}</li>
    {% if work.url %}<a href="{{ work.url }}" target="_blank">{% endif %}   
      {% if work.venue %} <li>{{ work.venue }}</li> {% endif %} 
    {% if work.url %}</a>{% endif %}   
    {% if work.label %}<li>{{ work.label }}</li>{% endif %}  
    <li>{{ work.publisher }}</li>
  </ul>
</section>

<section class="work-detail">
  {% if work.img %}
      {{ media.photo(work.img.src, work.img.alt, work.img.ext if work.img.ext else ".jpg") }}
  {% endif %}  
  <div class="gallery">   
    {% for img in work.files %}
        {{ media.photo(img.src, img.alt, img.ext if img.ext else ".jpg") }}
    {% endfor %}
  </div>
</section>